In [25]:
import cpm
from packaging import version

## cpm checks
print(cpm.__version__)
if version.parse(cpm.__version__) < version.parse("0.22"):
    raise ImportError("cpm version must be >= 0.22. Please install the latest version using: pip install --upgrade cpm")

0.23.0

## Import results

In [28]:
import pandas as pd
import numpy as np

## plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("05-model-recovery-results.csv")

In [29]:
data = data[["target", "model", "run", "fun"]]

In [30]:
data

      target   model  run        fun
0      delta   delta    0  32.187958
1      delta   delta    0  46.594678
2      delta   delta    0  47.402586
3      delta   delta    0  40.488190
4      delta   delta    0  43.557965
...      ...     ...  ...        ...
9595  kernel  kernel   99  49.925808
9596  kernel  kernel   99  35.395170
9597  kernel  kernel   99  45.873529
9598  kernel  kernel   99  33.121943
9599  kernel  kernel   99  47.995845

[9600 rows x 4 columns]

In [31]:
results = data.groupby(["target", "run", "model"]).sum().reset_index()
## which model ihad the lowest fun
# For each (target, run), find which model had the lowest fun
results['lowest_fun_model'] = results.groupby(['target', 'run'])['fun'].transform(lambda x: x.idxmin())
results['is_lowest'] = results.index == results['lowest_fun_model']
results[['target', 'run', 'model', 'fun', 'is_lowest']]

     target  run   model          fun  is_lowest
0     delta    0   delta  1017.724237       True
1     delta    0  kernel  1021.633314      False
2     delta    1   delta   944.399519       True
3     delta    1  kernel   948.756225      False
4     delta    2   delta  1047.987469       True
..      ...  ...     ...          ...        ...
395  kernel   97  kernel   971.992119       True
396  kernel   98   delta  1032.978967      False
397  kernel   98  kernel  1030.128382       True
398  kernel   99   delta   989.397873      False
399  kernel   99  kernel   981.398366       True

[400 rows x 5 columns]

In [33]:
results[results.is_lowest == True].groupby(['target']).model.value_counts().reset_index().pivot(index='target', columns='model', values='count').fillna(0).astype(int).reset_index()

model  target  delta  kernel
0       delta     93       7
1      kernel     12      88